apiVersion: v1
kind: Secret
metadata:
  name: ticket-secrets
  namespace: ticket-app
type: Opaque
stringData:
  POSTGRES_PASSWORD: "YOUR_DB_PASSWORD"
  POSTGRES_USER: "postgres"
  POSTGRES_DB: "ticketing_db"
  JWT_SECRET: "YOUR_JWT_SECRET_HERE"   # genera con: openssl rand -hex 32
  MAIL_USERNAME: "your-email@gmail.com"
  MAIL_PASSWORD: "your-app-password"
